//Typo
$Tsize    : 50px;
$Ssize    : 16px;
$CTAsmall : 12px;
$ContTitle: 18px;
$ContText : 15px;
$Subtitle : 20px;
$TxtPrice : 28px;
$Price    : 30px;
$FS45     : 45px;
$FS40     : 40px;

//weight
$normal: 400;
$bold  : 800;

//Font
$Lato   : 'Lato',sans-serif;
$Dosis  : 'Dosis',sans-serif;
$Lobster: 'Lobster',cursive;
$Poppins: 'Poppins',sans-serif;

//Colors
$Tcolor    : #42495B;
$Scolor    : #7A839E;
$degradeCTA: linear-gradient(to right, #1a129f, #6156f9);
$purple    : #7e76f9;
$blue      : #1000ff;
$white     : #ffffff;
$mauve     : #7e76f9;
$pink      : #eceafe;
$darkPurple: #1a129f;

//Margin
$Hmargin : 59px;
$MargeL  : 10%;
$Marge15 : 15%;
$Margin38: 38px;
$Margin30: 30px;
$Margin36: 36px;
$Margin70: 70px;
$Margin75: 75px;
$Margin15: 15px;
$Margin10: 10px;

//Witdh
$W100: 100%;
$W70 : 70%;

//Padding
$PadTCTA: 12px 40px;
$PadSCTA: 6px 18px;
$Pad75  : 75px;
$Pad26  : 26px;
$Pad20  : 20px;
$Pad30  : 30px;
$Pad19  : 19px;

//Line-Height
$SpaceText: 22px;
$SpaceLo  : 25px;

//Percent
$P100: 100%;
$P80 : 80%;

//Number
$Nbr0 : 0;

//Border-Radius
$BR36: 36px;
$BR26: 26px;

//position
$Po15 : 15px;

//Box-shadow
$BXS: 0 10px 20px 0 rgba(126, 118, 249, 0.16);